/* #app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
} */

/* body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
  border: solid 2px black;
} */

.swiper {
  width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 15px;
}
